#wpadminbar #wp-admin-bar-ea11y-scanner-wizard a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.ea11y-scanner-current-element, .ea11y-scanner-color-element, .ea11y-scanner-background-element {
    box-sizing: border-box;
    border: 4px solid #2563EB;
    border-radius: 4px;
}

#ea11y-scanner-wizard-widget {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    overflow-y: scroll;
    overflow-x: visible;
    z-index: 999999;
    pointer-events: none;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
