.ea11y-skip-to-content-link {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  pointer-events: none;
  position: fixed;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 1px solid #2563EB;
  background-color: #fff;
  color: #0C0D0E;
  text-decoration: none;
  word-wrap: normal !important;
}

.ea11y-skip-to-content-link:focus {
  clip: auto !important;
  clip-path: none;
  pointer-events: auto;
  inset-block-start: 30px;
  inset-inline-start: 30px;
  z-index: 100000;
  height: auto;
  width: auto;
  padding: 16px 24px;
}

.ea11y-skip-to-content-link:focus + .ea11y-skip-to-content-backdrop {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: rgb(0 0 0 / 0.5);
}
