{
  "extends": [
    "plugin:react/recommended",
    "plugin:@wordpress/eslint-plugin/recommended-with-formatting",
    "plugin:import/recommended",
    "plugin:jsx-a11y/strict"
  ],
  "plugins": [
    "babel",
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "globals": {
    "jQuery": "writable"
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "rules": {
    "no-console": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/jsx-max-props-per-line": [1, { "maximum": { "single": 2, "multi": 1 } }],
    "strict": [ "error", "global" ],
    "curly": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["node_modules"]
      },
      "webpack": {
        "config": "webpack.config.js"
      }
    }
  },
  "parser": "@babel/eslint-parser"
}
