.idea/
node_modules/
.sass-cache/
build/
lib/
log/
vendor/
composer.lock
npm-debug.log
.DS_Store
bin/.env
*/node_modules
!assets/dev/*
assets/js/
coverage/
.phpunit.result.cache
.editorconfig
.vscode
.env
*.zip
