body.pojo-a11y-grayscale {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray;
}

body.pojo-a11y-contrast {
	@import "_contrast";
}

body.pojo-a11y-light-background {
	&,
	*:not(.pojo-a11y-toolbar-overlay):not(.pojo-a11y-toolbar-toggle-link) {
		background: none !important;
		color: #000;
	}
}