.widget-settings-color-picker.react-colorful {
   width: 100%;
  }
.widget-settings-color-picker .react-colorful__saturation {
border-radius: 0;
border-bottom: none;
}

.widget-settings-color-picker .react-colorful__hue {
order: 0;
}

.widget-settings-color-picker .react-colorful__hue,
.widget-settings-color-picker .react-colorful__alpha {
height: 14px;
border-radius: 100px;
margin-top: 10px;
}

.widget-settings-color-picker .react-colorful__pointer {
width: 18px;
height: 18px;
}

.widget-settings-color-picker .react-colorful__hue-pointer,
.widget-settings-color-picker .react-colorful__alpha-pointer {
width: 18px;
height: 18px;
}
