#adminmenu .toplevel_page_accessibility-settings .wp-menu-image img,
#adminmenu .elementor_page_accessibility-settings .wp-menu-image img {
  width: 20px;
  height: 20px;
  padding: 7px 0;
  opacity: 1;
  filter: none;
}

.notice_wrapper {
  border: 1px solid #ccd0d4;
  box-shadow: 0 1px 4px #00000026;
}

.notice_wrapper.error-elementor {
  border-inline-start: 4px solid #93003F;
}
